:root {
  --primary-color: #f4ce14;
  --primary-color-strong: #bfa10b;
  --secondary-color: #0b0e14;
  --secondary-light-color: #1a2130;
  --white-color: #fdfdfd;
  --black-color: #151515;
  --grey-color: #b4b4b4;
  --grey-color-strong: #444444;
}

.custom-navbar {
  background-color: transparent;
}

.custom-navbar .nav-link {
  color: var(--white-color);
  font-weight: 400;
}

.custom-navbar .nav-link:hover {
  color: var(--white-color);
}

.custom-navbar .active {
  color: var(--white-color);
}

.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  /* A cor de 'stroke' no caminho SVG acima define a cor das três linhas do ícone do botão. Aqui está configurado para branco. */
}

.custom-navbar .navbar-toggler {
  border-color: var(--white-color);
}

.btn {
  font-weight: 600;
  padding: 0.5rem 3rem;
  transition: background-color 0.3s, color 0.3s;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--black-color);
  border: 0;
}

.btn-primary:hover {
  background-color: var(--primary-color-strong);
  color: var(--black-color);
}

.restaurantCard .card-title {
  font-size: 1rem;
  color: var(--black-color);
  font-weight: 700;
}

.card {
  max-width: 256px;
  min-width: 256px;
  border: 0;
  background-color: #fdfdfd;
}

.cardRestaurant {
  max-width: 100%;
  min-width: 356px;
}

.cardBurger {
  padding-top: 0rem;
  background-color: #1a2130;
  max-width: 100%;
  min-width: 100%;
}

.cardBurger .card-img-top {
  width: 174px;
  height: 150px;
  filter: drop-shadow(-2px 5px 2px #00000040);
}

.cardBurger .card-title {
  color: #fdfdfd;
  font-weight: 400;
}

.cardBurger li {
  color: #fdfdfd;
  font-weight: 400;
}

@media (max-width: 525px) {
  .btn {
    font-size: 0.775rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    transition: background-color 0.3s, color 0.3s;
  }

  .cardBurger {
    max-width: 100%;
    min-width: 100%;
    border: 0;
  }

  .cardRestaurant {
    max-width: 90%;
    min-width: 90%;
  }

  .custom-navbar {
    padding: 0.5rem 0;
    background-color: var(--black-color);
  }

  .custom-navbar .nav-link {
    color: var(--white-color);
    font-weight: 400;
  }

  .custom-navbar .navbar-toggler {
    border-color: var(--white-color);
  }

  .custom-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 255)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    /* A cor de 'stroke' no caminho SVG acima define a cor das três linhas do ícone do botão. Aqui está configurado para branco. */
  }

  .custom-navbar .nav-link:hover {
    color: var(--white-color);
  }

  .custom-navbar .active {
    color: var(--white-color);
  }
}

@media (min-width: 524px) and (max-width: 900px) {
  .btn {
    font-size: 0.775rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    transition: background-color 0.3s, color 0.3s;
  }

  .cardBurger {
    width: 200px;
    min-width: 100%;
    max-width: 100%;
    border: 0;
  }
}

@media (max-width: 1000px) {
  .custom-navbar .nav-link:first-of-type {
    color: var(--primary-color);
    margin-top: 2rem;
    font-weight: 400;
  }
}
