* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

:root {
  --primary-color: #f4ce14;
  --primary-color-strong: #bfa10b;
  --secondary-color: #0b0e14;
  --secondary-light-color: #1a2130;
  --white-color: #fdfdfd;
  --black-color: #151515;
  --grey-color: #b4b4b4;
  --grey-color-strong: #444444;
}

.hero {
  width: 100%;
  height: 100%;
  max-height: 100%;
  background-image: url(../../public/images/bg-hero-wall.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 2rem 0 4rem 0;
}

.logo-header {
  width: 56px;
}

.bannerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  padding: 2rem 0;
}

.bannerTextContainer {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.bannerButtons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.bannerTextContainer h1 {
  color: var(--primary-color);
  font-size: 4rem;
  font-weight: 600;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.bannerTextContainer h2 {
  color: var(--white-color);
  font-size: 2rem;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.bannerTextContainer p {
  color: var(--grey-color);
  font-size: 0.875rem;
  font-weight: 300;
}

.bannerImageContainer {
  width: 50%;
}

.bannerImageContainer img {
  filter: drop-shadow(5px 5px 7px #00000080);
}

.bannerSocialLinks {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.bannerSocialLinks img {
  width: 24px;
}

.carouselContainer {
  width: 100%;
}

.carousel h5 {
  font-weight: 400;
  font-size: 1.5rem;
}

.carousel p {
  font-weight: 400;
  font-size: 0.875rem;
  font-weight: 300;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.restaurantContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding: 4rem 0;

  background-image: url(../../public/images/restaurant-container-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.restaurantCardsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;

  overflow-x: scroll;
  user-select: none;
  padding-right: 0;
  padding: 0 7rem;
}

.restaurantCardsContainer::-webkit-scrollbar {
  display: none;
}

.restaurantCardsContainer {
  overflow: auto;
}
.restaurantCardsContainer::-webkit-scrollbar {
  display: none;
}

.restaurantCardsContainer {
  scrollbar-width: none;
}

.restaurantCard {
  position: relative;
  padding-bottom: 3.5rem;
}

.restaurantCard ul {
  list-style: none;
  padding: 0;
}

.restaurantCard ul li {
  font-size: 0.8rem;
  color: var(--grey-color-strong);
  font-weight: 500;
}

.personPortion {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  font-weight: 700;
}

.personPortionIcon {
  width: 24px;
  margin-right: 0.5rem;
}

.restaurantPrice {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1rem;
  font-family: "Poetsen One", sans-serif;
  color: #e55300;
}

.restaurantPriceValue {
  font-size: 1.5rem;
  font-family: "Poetsen One", sans-serif;
  color: var(--black-color);
}

.restaurantText {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2rem;
}

.restaurantText h2 {
  font-size: 1.5rem;
  color: var(--white-color);
  font-weight: 500;
}

.restaurantText span {
  color: var(--white-color);
  font-size: 1rem;

  display: flex;
  align-items: center;
}

.restaurantText img {
  width: 24px;
  margin-right: 0.5rem;
}

.classicBurgerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url(../../public/images/bg-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  padding: 4rem 0;
}

.classigBurgerContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.classicBurgerText {
  width: 50%;
}

.classicBurgerText h2 {
  font-size: 2rem;
  color: var(--primary-color);
}

.classicBurgerText p {
  font-size: 0.875rem;
  color: var(--white-color);
  margin-bottom: 2rem;
  font-weight: 300;
}

.burgerCards {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}

.burgerCardsContainer {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;

  padding: 0 7rem;
}

.cardBurgerImageContainer {
  background-image: url(../../public/images/burguer-bg-blur.png);
  background-size: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 2rem 0;
}

.cardBurger ul li {
  font-weight: 300;
  color: var(--grey-color);
}

.cardBurger .personPortion {
  font-weight: 300;
  color: var(--white-color);
}

.cardBurger .restaurantPrice {
  color: var(--primary-color);
}

.cardBurger .restaurantPriceValue {
  color: var(--white-color);
}

.ifoodContainer {
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4rem 0;

  gap: 8rem;
}

.ifoodMockupContainer {
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ifoodTextContainer {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 2rem;
}

.ifoodMockup {
  width: 100%;
  max-width: 356px;
}

.ifoodLogo {
  width: 184px;
}

.ifoodTextContent h2 {
  color: #e55300;
  font-weight: 500;
  margin-bottom: 2rem;
}

.ifoodTextContent p {
  max-width: 400px;
  color: var(--black-color);
  font-size: 0.875rem;
}

.ifoodTextContent span {
  max-width: 400px;
  color: var(--black-color);
  font-size: 0.875rem;
  font-weight: 500;

  display: block;
  margin-bottom: 2rem;
}

.promotionContainer {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.promotionContainer h4 {
  font-size: 1.5rem;
  color: var(--black-color);
  font-weight: 600;
}

.promotionCardsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 0 4rem 0;
  gap: 24px;
}

.promotionCard {
  width: 100%;
  height: 256px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem 2rem;
}

#card01 {
  background-image: url(../../public/images/promotion-card-img-01.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.promotionCard .day {
  color: var(--white-color);
  font-size: 0.875rem;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  font-weight: 300;
}

.promotionCard .cardAbout {
  color: var(--white-color);
  font-weight: 300;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  margin: 0;
  font-size: 0.875rem;
}

.promotionCard .cardAbout strong {
  font-weight: 500;
}

.cardTitle {
  font-size: 1.5rem;
  color: var(--primary-color);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  font-weight: 300;
}

#card02 {
  background-image: url(../../public/images/promotion-card-img-02.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

#card03 {
  background-image: url(../../public/images/promotion-card-img-03.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

#card04 {
  background-image: url(../../public/images/promotion-card-img-04.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.contactContainer {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(../../public/images/bg-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding: 8rem 0;
}

.contactForm {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.contact {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.contactInfos {
  width: 50%;
  height: 100%;
}

.formAbout h5 {
  color: var(--primary-color);
  font-size: 1.5rem;
}

.formAbout p {
  font-size: 0.875rem;
  color: var(--white-color);
  font-weight: 300;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--secondary-light-color);
}

.infos h5 {
  color: var(--white-color);
  font-size: 1.5rem;
}

.infos span {
  display: flex;
  align-items: center;
  color: var(--grey-color);
  font-weight: 300;
}

.infos img {
  width: 32px;
  margin-right: 1rem;
}

.footer {
  width: 100%;
  height: 100%;
  background-image: url(../../public/images/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 4rem 0;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerLinks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.footerLinks ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footerLinks ul li {
  color: var(--grey-color);
  font-weight: 300;
  font-size: 0.875rem;
}

.footerLinks ul .linkSectionTitle {
  color: var(--white-color);
  font-weight: 400;
  font-size: 1rem;
}

.footerLogo {
  width: 104px;
}

.aboutMe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socialLinks {
  display: flex;
  gap: 24px;
}

.socialLinks img {
  width: 24px;
}

.notice {
  font-size: 0.875rem;
  color: var(--grey-color);
  text-align: center;
  display: block;
  margin-bottom: 2rem;
}

.navContainer {
  width: 100%;
  height: 104px;
}

/* =================================================================== */

@media (max-width: 680px) {
  .navContainer {
    width: 100%;
    padding: 0;
    height: 74px;
  }

  .hero {
    padding: 0 0 0 0;
    max-height: 100%;
    min-height: 100vh;
    background-attachment: fixed;
    background-image: url(../../public/images/hero-bg-mobile.png);
  }

  .logo-header {
    width: 24px;
  }

  .bannerContainer {
    flex-direction: column;
    padding: 8rem 0.5rem 4rem 0.5rem;
    gap: 4rem;
  }

  .bannerTextContainer {
    width: 100%;
    height: 50%;
  }

  .bannerTextContainer h1 {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  }

  .bannerTextContainer h2 {
    color: var(--white-color);
    font-size: 1.25rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  }

  .bannerTextContainer p {
    color: var(--white-color);
    font-size: 0.875rem;
    font-weight: 300;
    width: 85%;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  }

  .bannerSocialLinks {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }

  .bannerSocialLinks img {
    width: 18px;
  }

  .bannerImageContainer {
    width: 100%;
  }

  .bannerImageContainer img {
    filter: drop-shadow(5px 5px 7px #00000080);
  }

  .carouselContainer {
    width: 100%;
  }

  .carousel-item img {
    height: 200px;
    object-fit: cover;
  }

  .restaurantContainer {
    padding: 2rem 0;
  }

  .restaurantCardsContainer {
    padding: 0 1rem;
  }

  .restaurantText h2 {
    font-size: 1.25rem;
    color: var(--white-color);
    font-weight: 500;
  }

  .restaurantText span {
    color: var(--white-color);
    font-size: 0.875rem;

    display: flex;
    align-items: center;
    font-weight: 300;
  }

  .restaurantText img {
    width: 18px;
    margin-right: 0.5rem;
  }

  .classigBurgerContent {
    flex-direction: column;
  }

  .classicBurgerText {
    width: 100%;
  }

  .classicBurgerText h2 {
    font-size: 1.25rem;
    color: var(--primary-color);
  }

  .classicBurgerText p {
    font-size: 0.875rem;
    color: var(--white-color);
    margin-bottom: 2rem;
    font-weight: 300;
  }

  .bannerImageContainer {
    display: flex;
    justify-content: center;
  }

  .bannerImageContainer img {
    width: 80%;
  }

  .burgerCardsContainer {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 0 1rem;
  }

  .burgerCards {
    padding: 4rem 0;
  }

  .ifoodContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;

    gap: 4rem;
  }

  .ifoodMockupContainer {
    width: 100%;
    justify-content: center;
    order: 2;
  }

  .ifoodMockup {
    width: 100%;
    max-width: 256px;
  }

  .ifoodTextContainer {
    width: 100%;
    height: 100%;
  }

  .ifoodLogo {
    width: 104px;
  }

  .promotionCardsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 1.5rem 2rem 1.5rem;
    gap: 24px;
  }

  .promotionCard {
    width: 100%;
    height: 256px;
    border-radius: 5px;
    padding: 1.5rem;
  }

  .promotionCard .cardAbout {
    color: var(--white-color);
    font-weight: 300;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    margin: 0;
    font-size: 0.875rem;
  }

  .promotionCard .cardAbout strong {
    font-weight: 500;
    font-size: 0.875rem;
  }

  .cardTitle {
    font-size: 1.25rem;
    color: var(--primary-color);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    font-weight: 400;
  }

  .promotionContainer h4 {
    font-size: 1.25rem;
  }

  .contactContainer {
    padding: 4rem 0;
  }

  .contact {
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 2rem;
  }

  .contactForm {
    width: 100%;
  }

  .formAbout h5 {
    font-size: 1.25rem;
  }

  .contactInfos {
    width: 100%;
  }

  .infos h5 {
    font-size: 1.25rem;
  }

  .infos {
    gap: 1rem;
    padding: 1.5rem;
  }

  .infos span {
    display: flex;
    align-items: center;
    color: var(--grey-color);
    font-weight: 300;
    font-size: 0.875rem;
  }

  .infos img {
    width: 18px;
  }

  .footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footerLinks {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 4rem;
    gap: 36px;
  }

  .footerLogo {
    width: 64px;
    margin-left: 2rem;
  }

  .aboutMe {
    padding: 0 2rem;
  }
}

@media (min-width: 680px) and (max-width: 900px) {
  .navContainer {
    width: 100%;
    padding: 0;
  }

  .hero {
    padding: 0 0 0 0;
    max-height: 100%;
    background-attachment: fixed;
    background-image: url(../../public/images/hero-bg-mobile.png);
  }

  .logo-header {
    width: 54px;
  }

  .bannerContainer {
    flex-direction: column;
    padding: 4rem 0.5rem;
  }

  .bannerTextContainer {
    width: 100%;
    height: 50%;
  }

  .bannerTextContainer h1 {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  }

  .bannerTextContainer h2 {
    color: var(--white-color);
    font-size: 1.25rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  }

  .bannerTextContainer p {
    color: var(--white-color);
    font-size: 0.875rem;
    font-weight: 300;
    width: 85%;
  }

  .bannerSocialLinks {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }

  .bannerSocialLinks img {
    width: 18px;
  }

  .bannerImageContainer {
    width: 100%;
  }

  .bannerImageContainer img {
    filter: drop-shadow(5px 5px 7px #00000080);
  }

  .carouselContainer {
    width: 100%;
  }

  .carousel-item img {
    height: 200px;
    object-fit: cover;
  }

  .restaurantContainer {
    padding: 2rem 0;
  }

  .restaurantCardsContainer {
    padding: 0 2rem;
  }

  .restaurantText h2 {
    font-size: 1.25rem;
    color: var(--white-color);
    font-weight: 500;
  }

  .restaurantText span {
    color: var(--white-color);
    font-size: 0.875rem;

    display: flex;
    align-items: center;
    font-weight: 300;
  }

  .restaurantText img {
    width: 18px;
    margin-right: 0.5rem;
  }

  .classigBurgerContent {
    flex-direction: column;
  }

  .classicBurgerText {
    width: 100%;
  }

  .classicBurgerText h2 {
    font-size: 1.25rem;
    color: var(--primary-color);
  }

  .classicBurgerText p {
    font-size: 0.875rem;
    color: var(--white-color);
    margin-bottom: 2rem;
    font-weight: 300;
  }

  .bannerImageContainer {
    display: flex;
    justify-content: center;
  }

  .bannerImageContainer img {
    width: 80%;
  }

  .burgerCardsContainer {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    padding: 0 3rem;
  }

  .burgerCards {
    padding: 4rem 0;
  }

  .ifoodContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;

    gap: 4rem;
  }

  .ifoodMockupContainer {
    width: 50%;
    justify-content: center;
    order: 2;
  }

  .ifoodMockup {
    width: 100%;
    max-width: 256px;
  }

  .ifoodTextContainer {
    width: 50%;
    height: 100%;
  }

  .ifoodLogo {
    width: 104px;
  }

  .promotionCardsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 1.5rem 2rem 1.5rem;
    gap: 24px;
  }

  .promotionCard {
    width: 100%;
    height: 256px;
    border-radius: 5px;
    padding: 1.5rem;
  }

  .promotionCard .cardAbout {
    color: var(--white-color);
    font-weight: 300;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    margin: 0;
    font-size: 0.875rem;
  }

  .promotionCard .cardAbout strong {
    font-weight: 500;
    font-size: 0.875rem;
  }

  .cardTitle {
    font-size: 1.25rem;
    color: var(--primary-color);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    font-weight: 400;
  }

  .promotionContainer h4 {
    font-size: 1.25rem;
  }

  .contactContainer {
    padding: 4rem 0;
  }

  .contact {
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 2rem;
  }

  .contactForm {
    width: 100%;
  }

  .formAbout h5 {
    font-size: 1.25rem;
  }

  .contactInfos {
    width: 100%;
  }

  .infos h5 {
    font-size: 1.25rem;
  }

  .infos {
    gap: 1rem;
    padding: 1.5rem;
  }

  .infos span {
    display: flex;
    align-items: center;
    color: var(--grey-color);
    font-weight: 300;
    font-size: 0.875rem;
  }

  .infos img {
    width: 18px;
  }

  .footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footerLinks {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    padding-right: 2rem;
  }

  .footerLogo {
    width: 64px;
    margin-left: 2rem;
  }

  .aboutMe {
    padding: 0 2rem;
  }

  .carousel-caption h5 {
    font-size: 1.25rem;
  }

  .carousel-caption p {
    font-size: 0.775rem;
  }
}

@media (min-width: 1000px) and (max-width: 1400px) {
  .burgerCardsContainer {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
  }
}

@media (min-width: 680px) and (max-width: 1000px) {
  .burgerCardsContainer {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}
